@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model IEnumerable<InteractiveCourse.Models.CourseViewModel>
@{ ViewBag.Title = "title";
    Layout = "~/Views/Shared/_LayoutSecond.cshtml"; }


<main>
    <!--? slider Area Start-->
    <section class="slider-area slider-area2">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-11 col-md-12">
                            <div class="hero__caption hero__caption2">
                                <h1 data-animation="bounceIn" data-delay="0.2s">Nasze kursy</h1>
                                <!-- breadcrumb Start-->
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Strona główna</a></li>
                                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Course" asp-action="Index">Kursy</a></li>
                                    </ol>
                                </nav>
                                <!-- breadcrumb End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Courses area start -->
    <div class="courses-area section-padding40 fix">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8">
                    <div class="section-tittle text-center mb-55">
                        <h2>Nasze wyróżnione kursy</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var courses in Model)
                {
                    <div class="col-lg-4">
                        <div class="properties properties2 mb-30">
                            <div class="properties__card">
                                <div class="properties__img overlay1">
                                    <a asp-area="" asp-controller="Course" asp-action="Courses" asp-route-coursesId="@courses.Id"><img src="~/theme/assets/img/gallery/@courses.PictureName" alt=""></a>
                                </div>
                                <div class="properties__caption">
                                    <p>@courses.Experience</p>
                                    <h3><a asp-area="" asp-controller="Course" asp-action="Courses" asp-route-coursesId="@courses.Id">@courses.Name</a></h3>
                                    <p>
                                        @courses.Description
                                    </p>
                                    <div class="properties__footer d-flex justify-content-between align-items-center">
                                        <div class="restaurant-name">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star-half"></i>
                                            </div>
                                            <p><span>(4.5)</span> @*based on 120*@</p>
                                        </div>
                                        <div class="price">
                                            <span>@*$135*@</span>
                                        </div>
                                    </div>
                                    <a asp-area="" asp-controller="Course" asp-action="Courses" asp-route-coursesId="@courses.Id" class="border-btn border-btn2">Dowiedz się wiecej</a>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8">
                    <div class="section-tittle text-center mt-40">
                        <a href="#" class="border-btn">Load More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main> 